In [10]:
from dotenv import load_dotenv
import requests
import os
import pandas as pd

os.chdir('..')
load_dotenv()

False

In [2]:
COINMARKET_CAP_API_KEY = os.getenv('COINMARKET_CAP_API_KEY')

In [3]:

id = "bitcoin"
url = f"https://api.coingecko.com/api/v3/coins/{id}/ohlc?vs_currency=usd&days=90"

headers = {
  "Content-Type": "application/json",
  "X-CMC_PRO_API_KEY": COINMARKET_CAP_API_KEY  
}

response = requests.get(url, headers=headers)

print(response.json())

[[1698364800000, 32953.0, 34472.0, 32953.0, 34174.0], [1698710400000, 33899.0, 34556.0, 33899.0, 34499.0], [1698969600000, 34672.0, 35457.0, 34672.0, 34924.0], [1699315200000, 34731.0, 35062.0, 34731.0, 35031.0], [1699660800000, 35437.0, 37344.0, 35437.0, 37344.0], [1700006400000, 37123.0, 37123.0, 35545.0, 35545.0], [1700352000000, 37904.0, 37904.0, 36202.0, 36582.0], [1700697600000, 37414.0, 37489.0, 35965.0, 37465.0], [1701043200000, 37293.0, 37810.0, 37293.0, 37492.0], [1701302400000, 37250.0, 37810.0, 37250.0, 37810.0], [1701561600000, 37712.0, 39482.0, 37712.0, 39482.0], [1701907200000, 39960.0, 44106.0, 39960.0, 43788.0], [1702252800000, 43270.0, 44202.0, 43270.0, 43758.0], [1702598400000, 41201.0, 43010.0, 41201.0, 43010.0], [1702944000000, 41992.0, 42684.0, 41411.0, 42684.0], [1703289600000, 42250.0, 44004.0, 42250.0, 44004.0], [1703635200000, 43752.0, 43752.0, 42516.0, 42516.0], [1703980800000, 43418.0, 43418.0, 42075.0, 42221.0], [1704240000000, 42208.0, 44995.0, 42208.0, 44995.0], [1704585600000, 42822.0, 44196.0, 42822.0, 43956.0], [1704931200000, 43884.0, 46936.0, 43884.0, 46632.0], [1705276800000, 46314.0, 46314.0, 41801.0, 41801.0], [1705622400000, 42587.0, 43148.0, 41261.0, 41261.0], [1705968000000, 41601.0, 41626.0, 41601.0, 41626.0]]

In [5]:

df = pd.DataFrame(response.json(), columns=['time', 'open', 'high', 'low', 'close'])

In [6]:
df

             time     open     high      low    close
0   1698364800000  32953.0  34472.0  32953.0  34174.0
1   1698710400000  33899.0  34556.0  33899.0  34499.0
2   1698969600000  34672.0  35457.0  34672.0  34924.0
3   1699315200000  34731.0  35062.0  34731.0  35031.0
4   1699660800000  35437.0  37344.0  35437.0  37344.0
5   1700006400000  37123.0  37123.0  35545.0  35545.0
6   1700352000000  37904.0  37904.0  36202.0  36582.0
7   1700697600000  37414.0  37489.0  35965.0  37465.0
8   1701043200000  37293.0  37810.0  37293.0  37492.0
9   1701302400000  37250.0  37810.0  37250.0  37810.0
10  1701561600000  37712.0  39482.0  37712.0  39482.0
11  1701907200000  39960.0  44106.0  39960.0  43788.0
12  1702252800000  43270.0  44202.0  43270.0  43758.0
13  1702598400000  41201.0  43010.0  41201.0  43010.0
14  1702944000000  41992.0  42684.0  41411.0  42684.0
15  1703289600000  42250.0  44004.0  42250.0  44004.0
16  1703635200000  43752.0  43752.0  42516.0  42516.0
17  1703980800000  43418.0  43418.0  42075.0  42221.0
18  1704240000000  42208.0  44995.0  42208.0  44995.0
19  1704585600000  42822.0  44196.0  42822.0  43956.0
20  1704931200000  43884.0  46936.0  43884.0  46632.0
21  1705276800000  46314.0  46314.0  41801.0  41801.0
22  1705622400000  42587.0  43148.0  41261.0  41261.0
23  1705968000000  41601.0  41626.0  41601.0  41626.0

In [7]:
df['time'] = pd.to_datetime(df['time'], unit='ms')
df

         time     open     high      low    close
0  2023-10-27  32953.0  34472.0  32953.0  34174.0
1  2023-10-31  33899.0  34556.0  33899.0  34499.0
2  2023-11-03  34672.0  35457.0  34672.0  34924.0
3  2023-11-07  34731.0  35062.0  34731.0  35031.0
4  2023-11-11  35437.0  37344.0  35437.0  37344.0
5  2023-11-15  37123.0  37123.0  35545.0  35545.0
6  2023-11-19  37904.0  37904.0  36202.0  36582.0
7  2023-11-23  37414.0  37489.0  35965.0  37465.0
8  2023-11-27  37293.0  37810.0  37293.0  37492.0
9  2023-11-30  37250.0  37810.0  37250.0  37810.0
10 2023-12-03  37712.0  39482.0  37712.0  39482.0
11 2023-12-07  39960.0  44106.0  39960.0  43788.0
12 2023-12-11  43270.0  44202.0  43270.0  43758.0
13 2023-12-15  41201.0  43010.0  41201.0  43010.0
14 2023-12-19  41992.0  42684.0  41411.0  42684.0
15 2023-12-23  42250.0  44004.0  42250.0  44004.0
16 2023-12-27  43752.0  43752.0  42516.0  42516.0
17 2023-12-31  43418.0  43418.0  42075.0  42221.0
18 2024-01-03  42208.0  44995.0  42208.0  44995.0
19 2024-01-07  42822.0  44196.0  42822.0  43956.0
20 2024-01-11  43884.0  46936.0  43884.0  46632.0
21 2024-01-15  46314.0  46314.0  41801.0  41801.0
22 2024-01-19  42587.0  43148.0  41261.0  41261.0
23 2024-01-23  41601.0  41626.0  41601.0  41626.0

In [3]:
# get the same ohlc data from cryptocompare
CRYPTOCOMPARE_API_KEY = os.getenv('CRYPTOCOMPARE_API_KEY')

In [8]:
url = 'https://min-api.cryptocompare.com/data/v2/histoday'

params = {
  'fsym': 'BTC', 
  'tsym': 'USD',
  'limit': 30,
  'aggregate': 1,
  'api_key': CRYPTOCOMPARE_API_KEY
}

response = requests.get(url, params=params)

data = response.json()['Data']
data

{'Aggregated': False,
 'TimeFrom': 1703203200,
 'TimeTo': 1705795200,
 'Data': [{'time': 1703203200,
   'high': 44417.78,
   'low': 43426.51,
   'open': 43875.01,
   'volumefrom': 24740.39,
   'volumeto': 1084076406.5,
   'close': 44008.04,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1703289600,
   'high': 44024.62,
   'low': 43338.34,
   'open': 44008.04,
   'volumefrom': 10973.31,
   'volumeto': 479555333.8,
   'close': 43732.75,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1703376000,
   'high': 43965.2,
   'low': 42635.13,
   'open': 43732.75,
   'volumefrom': 14281.15,
   'volumeto': 621424795.87,
   'close': 43023.12,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1703462400,
   'high': 43808.21,
   'low': 42763.83,
   'open': 43023.12,
   'volumefrom': 14747.02,
   'volumeto': 639501515.36,
   'close': 43593.79,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1703548800,
   'high': 43604.51,
   'low': 41616.59,
   'open': 43593.79,
   'volumefrom': 30529.57,
   'volumeto': 1297798884.96,
   'close': 42517.32,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1703635200,
   'high': 43694.83,
   'low': 42121.77,
   'open': 42517.32,
   'volumefrom': 27420.29,
   'volumeto': 1178861473.09,
   'close': 43469.34,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1703721600,
   'high': 43817.61,
   'low': 42283.91,
   'open': 43469.34,
   'volumefrom': 29112.04,
   'volumeto': 1249335317.05,
   'close': 42588.94,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1703808000,
   'high': 43134.59,
   'low': 41296.86,
   'open': 42588.94,
   'volumefrom': 34268.41,
   'volumeto': 1450476730.93,
   'close': 42073.59,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1703894400,
   'high': 42595.81,
   'low': 41529.95,
   'open': 42073.59,
   'volumefrom': 21511.57,
   'volumeto': 905852574.49,
   'close': 42146.03,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1703980800,
   'high': 42863.11,
   'low': 41970.37,
   'open': 42146.03,
   'volumefrom': 21509.24,
   'volumeto': 912867128.16,
   'close': 42280.14,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1704067200,
   'high': 44210.89,
   'low': 42187.32,
   'open': 42280.14,
   'volumefrom': 19499.59,
   'volumeto': 839894208.67,
   'close': 44197.61,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1704153600,
   'high': 45918.98,
   'low': 44181.86,
   'open': 44197.61,
   'volumefrom': 57443.36,
   'volumeto': 2596745174.99,
   'close': 44970.34,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1704240000,
   'high': 45513.73,
   'low': 40214.67,
   'open': 44970.34,
   'volumefrom': 82056.19,
   'volumeto': 3533041051.83,
   'close': 42854.08,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1704326400,
   'high': 44797.03,
   'low': 42657.44,
   'open': 42854.08,
   'volumefrom': 49538.94,
   'volumeto': 2167748750.23,
   'close': 44194.38,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1704412800,
   'high': 44377.15,
   'low': 42508.08,
   'open': 44194.38,
   'volumefrom': 54169.3,
   'volumeto': 2368276569.22,
   'close': 44178.89,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1704499200,
   'high': 44248.4,
   'low': 43444.9,
   'open': 44178.89,
   'volumefrom': 16352.13,
   'volumeto': 717065469.35,
   'close': 43988.33,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1704585600,
   'high': 44496.47,
   'low': 43639.57,
   'open': 43988.33,
   'volumefrom': 20056.41,
   'volumeto': 884154712.5,
   'close': 43950.84,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1704672000,
   'high': 47295.94,
   'low': 43209.8,
   'open': 43950.84,
   'volumefrom': 66057.64,
   'volumeto': 3000303504.99,
   'close': 46988.14,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1704758400,
   'high': 47923.17,
   'low': 44889.64,
   'open': 46988.14,
   'volumefrom': 66281.93,
   'volumeto': 3083632967.78,
   'close': 46123,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1704844800,
   'high': 47705.84,
   'low': 44326.32,
   'open': 46123,
   'volumefrom': 80226.64,
   'volumeto': 3677964834.63,
   'close': 46667.48,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1704931200,
   'high': 49054.05,
   'low': 45580.11,
   'open': 46667.48,
   'volumefrom': 77548.89,
   'volumeto': 3638877778.74,
   'close': 46353.15,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1705017600,
   'high': 46512.17,
   'low': 41454.57,
   'open': 46353.15,
   'volumefrom': 87031.78,
   'volumeto': 3855256978.62,
   'close': 42776.42,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1705104000,
   'high': 43243.47,
   'low': 42438.36,
   'open': 42776.42,
   'volumefrom': 23024.72,
   'volumeto': 986309535.03,
   'close': 42839.19,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1705190400,
   'high': 43060.49,
   'low': 41702.53,
   'open': 42839.19,
   'volumefrom': 21730.6,
   'volumeto': 924871801.97,
   'close': 41704.39,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1705276800,
   'high': 43325.88,
   'low': 41687.69,
   'open': 41704.39,
   'volumefrom': 24561.1,
   'volumeto': 1046074902.52,
   'close': 42491.26,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1705363200,
   'high': 43562.19,
   'low': 42047.82,
   'open': 42491.26,
   'volumefrom': 36429.24,
   'volumeto': 1565259395.93,
   'close': 43130.88,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1705449600,
   'high': 43183.19,
   'low': 42172.64,
   'open': 43130.88,
   'volumefrom': 32911.24,
   'volumeto': 1403011843.2,
   'close': 42739.27,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1705536000,
   'high': 42876.35,
   'low': 40606.86,
   'open': 42739.27,
   'volumefrom': 45180.42,
   'volumeto': 1885882508.36,
   'close': 41286.68,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1705622400,
   'high': 42151.57,
   'low': 40246.58,
   'open': 41286.68,
   'volumefrom': 45191.13,
   'volumeto': 1864062474.18,
   'close': 41625.47,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1705708800,
   'high': 41846.45,
   'low': 41433.27,
   'open': 41625.47,
   'volumefrom': 13096.14,
   'volumeto': 544668570.57,
   'close': 41677.08,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1705795200,
   'high': 41717.76,
   'low': 41561.84,
   'open': 41677.08,
   'volumefrom': 2581.67,
   'volumeto': 107554080.42,
   'close': 41649.21,
   'conversionType': 'direct',
   'conversionSymbol': ''}]}

In [12]:
df = pd.DataFrame(data['Data'])
df['time'] = pd.to_datetime(df['time'], unit='s')
df

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol
0,2023-12-22,44417.78,43426.51,43875.01,24740.39,1.084076e+09,44008.04,direct,
1,2023-12-23,44024.62,43338.34,44008.04,10973.31,4.795553e+08,43732.75,direct,
2,2023-12-24,43965.20,42635.13,43732.75,14281.15,6.214248e+08,43023.12,direct,
3,2023-12-25,43808.21,42763.83,43023.12,14747.02,6.395015e+08,43593.79,direct,
4,2023-12-26,43604.51,41616.59,43593.79,30529.57,1.297799e+09,42517.32,direct,
5,2023-12-27,43694.83,42121.77,42517.32,27420.29,1.178861e+09,43469.34,direct,
6,2023-12-28,43817.61,42283.91,43469.34,29112.04,1.249335e+09,42588.94,direct,
7,2023-12-29,43134.59,41296.86,42588.94,34268.41,1.450477e+09,42073.59,direct,
8,2023-12-30,42595.81,41529.95,42073.59,21511.57,9.058526e+08,42146.03,direct,
9,2023-12-31,42863.11,41970.37,42146.03,21509.24,9.128671e+08,42280.14,direct,
10,2024-01-01,44210.89,42187.32,42280.14,19499.59,8.398942e+08,44197.61,direct,
11,2024-01-02,45918.98,44181.86,44197.61,57443.36,2.596745e+09,44970.34,direct,
12,2024-01-03,45513.73,40214.67,44970.34,82056.19,3.533041e+09,42854.08,direct,
13,2024-01-04,44797.03,42657.44,42854.08,49538.94,2.167749e+09,44194.38,direct,
14,2024-01-05,44377.15,42508.08,44194.38,54169.30,2.368277e+09,44178.89,direct,
15,2024-01-06,44248.40,43444.90,44178.89,16352.13,7.170655e+08,43988.33,direct,
16,2024-01-07,44496.47,43639.57,43988.33,20056.41,8.841547e+08,43950.84,direct,
17,2024-01-08,47295.94,43209.80,43950.84,66057.64,3.000304e+09,46988.14,direct,
18,2024-01-09,47923.17,44889.64,46988.14,66281.93,3.083633e+09,46123.00,direct,
19,2024-01-10,47705.84,44326.32,46123.00,80226.64,3.677965e+09,46667.48,direct,
20,2024-01-11,49054.05,45580.11,46667.48,77548.89,3.638878e+09,46353.15,direct,
21,2024-01-12,46512.17,41454.57,46353.15,87031.78,3.855257e+09,42776.42,direct,
22,2024-01-13,43243.47,42438.36,42776.42,23024.72,9.863095e+08,42839.19,direct,
23,2024-01-14,43060.49,41702.53,42839.19,21730.60,9.248718e+08,41704.39,direct,
24,2024-01-15,43325.88,41687.69,41704.39,24561.10,1.046075e+09,42491.26,direct,
25,2024-01-16,43562.19,42047.82,42491.26,36429.24,1.565259e+09,43130.88,direct,
26,2024-01-17,43183.19,42172.64,43130.88,32911.24,1.403012e+09,42739.27,direct,
27,2024-01-18,42876.35,40606.86,42739.27,45180.42,1.885883e+09,41286.68,direct,
28,2024-01-19,42151.57,40246.58,41286.68,45191.13,1.864062e+09,41625.47,direct,
29,2024-01-20,41846.45,41433.27,41625.47,13096.14,5.446686e+08,41677.08,direct,
30,2024-01-21,41717.76,41561.84,41677.08,2581.67,1.075541e+08,41649.21,direct,

In [8]:
# get the same ohlc data from binance

from binance.client import Client
import datetime

client = Client()

klines = client.get_historical_klines("BTCUSDT", Client.KLINE_INTERVAL_1DAY, "1 Jan, 2021", "1 Apr, 2021")

df = pd.DataFrame(klines, columns=['time', 'open', 'high', 'low', 'close', 'volume', 'close_time', 'quote_av', 'trades', 'tb_base_av', 'tb_quote_av', 'ignore'])
df['time'] = pd.to_datetime(df['time'], unit='ms')
df

,time,open,high,low,close,volume,close_time,quote_av,trades,tb_base_av,tb_quote_av,ignore
0,2021-01-01,28923.63000000,29600.00000000,28624.57000000,29331.69000000,54182.92501100,1609545599999,1582526989.16187265,1314910,27455.80172500,802247744.54510409,0
1,2021-01-02,29331.70000000,33300.00000000,28946.53000000,32178.33000000,129993.87336200,1609631999999,4073842163.67154117,2245922,67446.30524600,2110334723.88714587,0
2,2021-01-03,32176.45000000,34778.11000000,31962.99000000,33000.05000000,120957.56675000,1609718399999,4057598425.49201649,2369698,59750.33287100,2004428433.93184622,0
3,2021-01-04,33000.05000000,33600.00000000,28130.00000000,31988.71000000,140899.88569000,1609804799999,4429010349.69534487,2642408,69088.46923000,2173435409.01698791,0
4,2021-01-05,31989.75000000,34360.00000000,29900.00000000,33949.53000000,116049.99703800,1609891199999,3743617144.64691529,2526851,59691.75475500,1927195093.64154965,0
...,...,...,...,...,...,...,...,...,...,...,...,...
86,2021-03-28,55817.14000000,56559.75000000,54691.84000000,55777.63000000,39050.38751100,1616975999999,2178777329.44521665,1551283,19262.72593500,1074959545.95900884,0
87,2021-03-29,55777.65000000,58405.82000000,54800.01000000,57635.47000000,67857.93739800,1617062399999,3877131109.73464578,1983437,34373.80455600,1963800173.65605960,0
88,2021-03-30,57635.46000000,59368.00000000,57071.35000000,58746.57000000,55122.44312200,1617148799999,3221944107.45503046,1612744,27541.52668000,1610812657.92990190,0
89,2021-03-31,58746.57000000,59800.00000000,56769.00000000,58740.55000000,60975.54266600,1617235199999,3575976083.80457570,1928224,31074.81318700,1823822792.91045006,0
90,2021-04-01,58739.46000000,59490.00000000,57935.45000000,58720.44000000,47415.61722000,1617321599999,2789238879.94337348,1594431,22966.25673600,1351151697.89222195,0